.auth-container{

    max-width:550px;

    margin:auto;

    margin-top:40px;

    background:#111827;

    border-radius:30px;

    padding:40px;

    border:1px solid #1E293B;

    box-shadow:
        0 20px 50px rgba(0,0,0,.35);
}


.auth-logo{

    font-size:42px;

    text-align:center;

    margin-bottom:15px;
}


.auth-title{

    text-align:center;

    font-size:32px;

    font-weight:700;

    color:white;
}


.auth-subtitle{

    text-align:center;

    color:#94A3B8;

    margin-bottom:25px;
}


.auth-divider{

    height:1px;

    background:#1E293B;

    margin-top:20px;

    margin-bottom:20px;
}


.auth-footer{

    text-align:center;

    color:#94A3B8;

    margin-top:20px;
}